h1 a {
    color: #006400;
}

body {
    padding-left: 0px;
    background-color: #FFF0F5;
    font-family: Verdana;
}

.page-header {
    background-color: #173d3b;
    padding: 1px 1px 1px 50px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #FFF0F5;
    font-size: 54pt;
    text-decoration: overline;
}

.content {
    margin-left: 60px;
}

h1, h2, h3, h4 {
  color: #390ced;
  font-size: 25pt;
  font-family: Verdana;
}

.date {
    color: #808080;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #173d3b;
    text-decoration: none;
}

<a href="https://en.wikipedia.org/wiki/Django" class="external_link" id="link_to_wiki_page">
